/* Inicio */
body {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-texto);
}

figure {
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 30px;
}

h3 {
    font-weight: 400;
}

/* Variável global */
:root {
    --preto: #1C1C1C;
    --cinza: #CCCBCB;
    --verde: #2A463A;
    --fonte-texto: Montserrat;
}

#paginainteira {
    background-color: var(--cinza);
}

/* Menu Principal */
#principal {
    background-color: var(--cinza);
    display: flex;
    align-items: center;
    padding-bottom: 0px;
}

#logoNav {
    height: 45px;
    width: 225px;
    margin: 10px;
}

#principal div a {
    font-size: 13px;
    text-decoration: none;
    color: var(--preto);
    font-family: Montserrat;
    font-weight: 400;

}

#principal div a:hover {
    color: white;
}

.menu a {
    padding-left: 110px;
}

/* Página Principal */

header #bcgddentro {
    display: flex;
    justify-content: center;

}

#bcgdPaginaPrincipal {
    background-color: var(--cinza);
    padding: 0px 80px;
}


#img {
    position: relative;

}

#img img {
    width: 80%;

}

.imgmeio {
    padding-left: 9%;
    display: none;
    position: relative;
    margin-top: 10%;

}

.imgmeio.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: auto;
    margin-top: -5%;
    padding: 3%;
    color: white;
    font-weight: bold;
    font-size: 125%;
    transition: 0.6s ease;
    user-select: none;
}
.next {
    right: 3%;
}

.prev {
    left: 1%;
}

.dots {
    text-align: center;
    padding: 1%;
    
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 17vw;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: var(--preto); 
}

#bcgddentro {
    background-image: linear-gradient(
        180deg,
        #2A463A 70%,
        #2b473b 17%,
        #1c1c1c
        
    
    
    );
    padding-bottom: 5%;

}

#bcgdcinza {
    background-color: var(--cinza);
    margin-top: 150px;
    margin-right: 5%;
    margin-bottom: 300px;
    padding-right: 10px;
    position: relative;
}

header h1 {
    margin: 10px 20px;
}

figure #logo2 {
    width: 25%;
    margin-top: 30px;
    margin-left: 170px;
    margin-bottom: 0px;
    padding: 0
}

#agendar {
    display: inline-flex;
    margin-top: 40px;
    padding: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

header a {
    font-family: var(--fonte-texto);
    font-weight: 300;
    text-decoration: none;
    color: var(--preto);
    padding-right: 100px;
    font-size: 15px;
    white-space: nowrap;
}


header a #arrow {
    margin-left: 15px;
    font-size: 40px;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
}

header a:hover {
    color: white;
}


/* Serviço */
#serv {
    
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    
}

section #serv-titulo {
    color: var(--cinza);
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.services-wrapper {
    justify-content: center;
    align-items: center;
}

.service-list {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 40px;
}

.service-item {
    display: flex;
    background-color: var(--cinza);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 10px;
    justify-content: space-around;
    box-sizing: border-box;
    width: 180px;
}

.servico p {
    margin: 5px 0;
}

#services {
    display: flex;    
    overflow: hidden;
}

.arrow {
    background: none;
    border: none;
    color: var(--cinza);
    font-size: 30px;
    cursor: pointer;
    margin-top: 140px;
    position: absolute;
}

#left-arrow {
    left: 50px;
}

#right-arrow {
    right: 50px;
}

.arrow:hover {
    transform: translateY(5px);
}



#left-arrow:hover {
    transform: translateY(5px);
}

.service-item button {
    background-color: var(--preto);
    color: var(--cinza);
    padding: 8px;
    border-radius: 10px;
    font-family: var(--fonte-texto);
    font-size: 10px;
    width: 100%;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}

/* Equipe */


#equipe {
    display: flex;
    flex-direction: column;
}

#equipe-tittle {
    margin-top: 150px;
    text-align: left;
    margin-left: 100px;
}

section ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 40px;

}

section ul li img {
    width: auto;

}

ul li h3 {
    text-align: center;
    margin-bottom: 20px;
}

ul li img {
    transition: transform 0.3s;
    cursor: pointer;
}

ul li img:hover {
    transform: scale(1.1);
}

section .text {
    display: none;
    width: 50%;
    background-color: var(--verde);
    border-radius: 15px;
    padding: 40px;
    text-align: justify;
    color: var(--cinza);
    margin: 10px 275px;
    margin-bottom: 50px;
}

section .text img {
    width: 25%;
    margin-right: 50px;
}

/* Sobre */

section {
    display: flex;
}

#bcgdpreto {
    background-color: var(--preto);
    margin-right: 105px;
    margin-bottom: 70px;
}

section #bcgdpreto img {
    width: 70%;
    margin-left: 250px;
    margin-top: 35px;
}

.content {
    font-size: 12px;
    text-align: justify;
    max-width: 500px;
}

#tittletext {
    margin-right: 150px;
    padding-bottom: 80px;
}

/* Feedback */

#feedback {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#feedback-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.fb {
    border: 5px solid var(--preto);
    border-radius: 12px;
    box-shadow: 0 4px 8px black;
    width: auto;
    padding: 10px;
    text-align: center;
    width: 350px;
    height: 200px;
}



.fb p {
    font-size: 15px;
    text-align: justify;
}

.fb h3 {
    text-align: left;
}



.fb .star {
    margin-top: 20px;
}

#feedback h1 {
    text-align: right;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 40px;
}

/* Footer */

footer {
    background-color: var(--preto);
    margin: 90px 150px 50px 150px;
    display: flex;
    flex-direction: column;
    color: var(--cinza);
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
}

footer h1 {
    padding-top: 20px;
    padding-left: 50px;
}

footer h3 {
    text-transform: uppercase;
}

footer #footer {
    display: flex;
    justify-content: space-around;
}

footer #logofooter {
    width: 10%;
    margin-top: 80px;
}

footer .ft {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer #ct {
    margin-top: 50px;
}


footer .contact {
    margin-top: 15px;

}

footer .contact:hover {
    transform: translateY(-5px);

}

@media (hover:none){


    #principal div a:hover {
        color: initial;
    }

    header a:hover {
        color: initial;
    }

    ul li img:hover {
        transform: initial;
    }

    .arrow:hover {
        transform: initial;
    }
       
    
    #left-arrow:hover {
        transform: initial;
    }

    footer .contact:hover {
        transform: initial;
    
    }
    
}

@media (max-width: 600px) {

    /* Menu Nav */

    #logoNav {
        height: 15px;
        width: 80px;
        margin-top: 20px;
    }

    #principal div a {
        font-size: 6px;
    }

    .menu a {
        padding-left: 17px;
    }

    /* Menu Principal */

    #bcgdPaginaPrincipal {
        padding: 0px 10px 0px 10px;
    }

    header #bcgdcinza {
        margin-top: 8%;
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 10px;
        margin-bottom: 100px;

        width: 30%;
    }

   

    #bcgddentro {
        margin-bottom: 10%;
        padding-bottom: 0%;
    }

    header h1 {
        margin: 15px 20px 0;
        font-size: 10px;

    }

    #img {
        width: 60%;
    }



    figure #logo2 {
        width: 20%;
        margin-top: 10px;
        margin-left: 70px;
    }

    header #agendar {
        margin-left: 20px;
    }

    header a {
        color: var(--preto);
        padding-right: 10px;
        font-size: 5px;
        margin: 0px;
    }

    #agendar {
        margin-top: 20px;
        padding: 0px;
    }



    #agendamento h4 {
        margin: 0;
        padding: 0;
    }


    header a #arrow {
        margin-left: 10px;
        font-size: 20px;

    }

    .dots {
       display: none;
    }

    .prev, .next {
        top: 35%;    
        padding: 1%;
      
        font-size: 70%;
        transition: 0.6s ease;
        user-select: none;
    }

    /* Sobre */

    #sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #bcgdpreto {
        margin: 0px;
        margin-left: 50px;
        margin-right: 50px;
    }

    section #bcgdpreto img {
        margin-left: 20px;
        width: 50%;
        margin: auto;
        margin: 10px 70px;
    }

    #sobre h1 {
        font-size: 10px;
        margin-left: 60px;
        text-align: center;
    }

    .content {
        font-size: 7px;
        width: 90%;
        text-align: justify;
        margin-left: 50px;

    }

    #tittletext {
        margin-right: 80px;
        padding-bottom: 40px;
    }

    /* Equipe */


    #equipe-tittle {
        font-size: 10px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    section ul {
        display: block;
        margin: 0;
    }

    section ul li img {
        width: 85px;
        margin: 0px;
    }

    ul li h3 {
        font-size: 7px;
        text-align: center;
        margin-top: 5px;
        padding: 0;

    }

    section .text {
        width: 70%;
        font-size: 7px;
        padding: 20px;
        margin: 20px auto 0 auto;

    }

    section .text img {
        width: 15%;
        margin-right: 30px;
    }

    /* Serviços */

    #serv {
        margin-top: 30px;
        padding-bottom: 30px;
    }

    section #serv-titulo {
        font-size: 10px;
        margin-top: 10px;
        padding-top: 30px;
    }

    .service-list {

        gap: 10px;
    }

    .service-item {
        border-radius: 8px;
        padding: 3px;
        margin: 3px;
        font-size: 6px;
        width: 100px;
    }

    .arrow {

        font-size: 10px;
        margin-top: 50px;
    }

    #left-arrow {
        left: 0px;
    }

    #right-arrow {
        right: 0px;
    }

    .service-item button {
        padding: 4px;
        font-size: 5px;
        width: 65%;

    }

    /* Feedback */

    #feedback-itens {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fb {

        padding: 10px;
        margin: 5px;
        width: 145px;
        height: 100px;
    }

    .fb p {
        font-size: 6px;
    }

    .fb h3 {
        font-size: 10px;
    }

    .fb .estrela {
        width: 100px;
    }

    .fb #star1 {
        margin-top: 10px;
    }


    .fb .star {
        margin-top: 20px;
    }

    #feedback h1 {
        margin-right: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 10px;
    }

    /* Footer */

    footer {
        margin: 10px 20px 30px 20px;
    }

    footer p {
        font-size: 7px;
    }

    footer h1 {
        font-size: 10px;
        padding-top: 10px;
        padding-left: 20px;
    }

    footer h3 {
        font-size: 8px;

    }

    footer #address {
        margin-left: 10px;
    }

    footer #logofooter {
        width: 10%;
        margin-top: 20px;
    }


    #address img {
        width: 150px;
    }

    footer #ct {
        margin-top: 20px;
    }


    footer .contact {
        margin-top: 10px;
    }

    footer .contact img {
        width: 70px;
    }

    footer .contact:hover {
        transform: translateY(-5px);

    }
}

@media (min-width: 768px) and (max-width: 1024px){

      /* Menu Principal */
    .menu a {
        padding-left: 20px;
    }

    /* Pagina Principal */

    #img {
        width: 100%;
        margin-top: 7%;
    }

    #partcima {
        display: none;
    }

    #partbaixo {
        display: none;
    }

    #bcgddentro {
        width: 120%;
        margin-right: 1%;
        margin-left: -10%;
    }

    header #bcgdcinza {

        margin-top: 80px;
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
        width: 30%;
    }

    #agendar {
        margin-top: 20px;
        padding: 0px;
    }

     /* Sobre */

     #sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #bcgdpreto {
        margin: 0px;
        width: 100%;
        margin: 0;
    }

    section #bcgdpreto img {
        margin-left: 150px;
        width: 60%;
        margin-bottom: 30px;
        
    }

    #sobre h1 {
        
        margin-left: 60px;
        text-align: center;
    }

    .content {
        
        width: 90%;
        text-align: justify;
        margin-left: 140px;

    }

    #tittletext {
        margin-right: 80px;
        padding-bottom: 40px;
    }

    /* Equipe */


    #equipe-tittle {
        
        margin-left: 20px;
        margin-bottom: 20px;
    }

    section ul li img {
        width: 90px;
        margin: 0px;
    }

    ul li h3 {
        
        text-align: center;
        margin-top: 5px;
        padding: 0;

    }

    section .text {
        width: 80%;
        font-size: 15px;
        padding: 20px;
        margin: 20px auto 0 auto;

    }

    section .text img {
        width: 10%;
        margin-right: 30px;
    }

     /* Serviços */

    .service-list {
       gap: 25px;
    }

    .arrow {

        margin-top: 130px;

    }

    #left-arrow {
        left: 0px;
    }

    #right-arrow {
        right: 0px;
    }

    .service-item button {
        padding: 4px;
        font-size: 5px;
        width: 65%;

    }
    /* Feedback */

    #feedback-itens {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .fb {

        padding: 10px;
        margin: 5px;
        width: 200px;
        height: 130px;
    }

    .fb p {
        font-size: 9px;
    }

    .fb h3 {
        font-size: 15px;
    }

    .fb .estrela {
        width: 150px;
    }

    .fb #star1 {
        margin-top: 10px;
    }


    .fb .star {
        margin-top: 20px;
    }

    #feedback h1 {
        margin-right: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 10px;
    }

    /* Footer */

    footer {
        margin: 10px 20px 30px 20px;
    }

    footer #address {
        margin-left: 10px;
    }

  

    footer #ct {
        margin-top: 40px;
    }


    footer .contact:hover {
        transform: none;

    }
}

@media (min-width: 1920px){
        /* Menu Principal */
        #principal div a{
            font-size: 20px;
        }
        .menu a {
            padding-left: 200px;
            
        }
    

}