/* Inicio */
body {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-texto);
}

figure {
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 30px;
}

h3 {
    font-weight: 400;
}

/* Variável global */
:root {
    --preto: #1C1C1C;
    --cinza: #cccbcb;
    --verde: #2A463A;
    --fonte-texto: Montserrat;
}

#paginainteira {
    background-color: var(--cinza);
}

/* Menu Principal */
#principal {
    background-color: var(--cinza);
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    position: relative;
}

#logoNav {
    height: 45px;
    width: 225px;
    margin: 10px;
}

#principal .menu a {
    font-size: 13px;
    text-decoration: none;
    color: var(--preto); 
    font-family: Montserrat;
    font-weight: 400;
}

.menu a{
    padding-left: 110px;
    
}

#principal div a:hover {
    color: white; 
}

.menu-icon {
    display: none; 
    font-size: 20px; 
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 1000; 
    background-color: #ccc; 
    border-radius: 50%; 
    padding: 2px; 
    width: 30px; 
    height: 30px; 
    text-align: center; 
    line-height: 30px; 
    font-weight: bold; 
}


.menu-overlay {
    position: fixed;
    top: 0;
    right: -250px; 
    height: 100%;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8); 
    overflow: auto;
    transition: right 0.3s ease;
    z-index: 999; 
    display: none; 
}

.menu-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .menu-content a {
  color: var(--cinza);
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-weight: 300;
    margin-top: 30px;
}

.menu-content a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Página Principal */

header #bcgddentro {
    display: flex;
    justify-content: center;

}

#bcgdPaginaPrincipal {
    background-color: var(--cinza);
    padding: 0px 80px;
}

#titulopaginaprincipal br {
    display: inline; 
}


#img {
    position: relative;

}

#img img {
    width: 80%;

}

.imgmeio {
    padding-left: 9%;
    display: none;
    position: relative;
    margin-top: 10%;

}

.imgmeio.active {
    display: block;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: auto;
    margin-top: -5%;
    padding: 3%;
    color: white;
    font-weight: bold;
    font-size: 125%;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 3%;
}

.prev {
    left: 1%;
}

.dots {
    text-align: center;
    padding: 1%;
    position: absolute;
    width: 100%;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 1%;


}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: var(--preto);
}

#bcgddentro {
    background-image: linear-gradient(180deg,
            #2A463A 70%,
            #2b473b 17%,
            #1c1c1c);
    padding-bottom: 5%;

}

#bcgdcinza {
    background-color: var(--cinza);
    margin-top: 150px;
    margin-right: 5%;
    margin-bottom: 200px;
    padding-right: 10px;
    position: relative;
}

header h1 {
    margin: 10px 20px;
}

figure #logo2 {
    width: 25%;
    margin-top: 30px;
    margin-left: 170px;
    margin-bottom: 0px;
    padding: 0
}

#agendar {
    display: inline-flex;
    margin-top: 40px;
    padding: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

header a {
    font-family: var(--fonte-texto);
    font-weight: 300;
    text-decoration: none;
    color: var(--preto);
    padding-right: 100px;
    font-size: 15px;
    white-space: nowrap;
}


header a #arrow {
    margin-left: 15px;
    font-size: 40px;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
}

header a:hover {
    color: white;
}


/* Serviço */
#serv {

    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;

}

section #serv-titulo {
    color: var(--cinza);
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.services-wrapper {
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.service-list {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 40px;
}

.service-item {
    display: flex;
    background-color: var(--cinza);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 10px;
    justify-content: space-around;
    box-sizing: border-box;
    width: 180px;
}

.servico p {
    margin: 5px 0;
}

#services {
    display: flex;
    overflow: hidden;
}

.arrow {
    background: none;
    border: none;
    color: var(--cinza);
    font-size: 30px;
    cursor: pointer;
    margin-top: 140px;
    position: absolute;
}

#left-arrow {
    left: 50px;
}

#right-arrow {
    right: 50px;
}

.arrow:hover {
    transform: translateY(5px);
}



#left-arrow:hover {
    transform: translateY(5px);
}

.service-item button {
    background-color: var(--preto);
    color: var(--cinza);
    padding: 8px;
    border-radius: 10px;
    font-family: var(--fonte-texto);
    font-size: 10px;
    width: 100%;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}

/* Equipe */


#equipe {
    display: flex;
    flex-direction: column;
}

#equipe-tittle {
    margin-top: 150px;
    text-align: left;
    margin-left: 100px;
}

section ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 40px;

}

section ul li img {
    width: auto;

}

ul li h3 {
    text-align: center;
    margin-bottom: 40px;
}

ul li img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

ul li img:hover {
    transform: scale(1.1);
}

section .text {
    display: none;
    width: 50%;
    background-color: var(--verde);
    border-radius: 15px;
    padding: 40px;
    text-align: justify;
    color: var(--cinza);
    margin: 10px 275px;
    margin-bottom: 100px;
}

section .text img {
    width: 25%;
    margin-right: 50px;
}

/* Sobre */

section {
    display: flex;
}

#bcgdpreto {
    background-color: var(--preto);
    margin-right: 105px;
    margin-bottom: 70px;
}

section #bcgdpreto img {
    width: 70%;
    margin-left: 250px;
    margin-top: 35px;
}

.content {
    font-size: 12px;
    text-align: justify;
    max-width: 500px;
}

#tittletext {
    margin-right: 150px;
    padding-bottom: 80px;
}

/* Feedback */

#feedback {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#feedback-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.fb {
    border: 5px solid var(--preto);
    border-radius: 12px;
    box-shadow: 0 4px 8px black;
    width: auto;
    padding: 10px;
    text-align: center;
    width: 350px;
    height: 200px;
}



.fb p {
    font-size: 15px;
    text-align: justify;
}

.fb h3 {
    text-align: left;
}



.fb .star {
    margin-top: 20px;
}

#feedback h1 {
    text-align: right;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

/* Footer */

footer {
    background-color: var(--preto);
    margin: 90px 150px 50px 150px;
    display: flex;
    flex-direction: column;
    color: var(--cinza);
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
}

footer h1 {
    padding-top: 20px;
    padding-left: 50px;
}

footer h3 {
    text-transform: uppercase;
}

footer #footer {
    display: flex;
    justify-content: space-around;
}

footer #logofooter {
    width: 10%;
    margin-top: 80px;
}

footer #address {
    margin-left: 50px;
}

footer #address img {
    width: 55%;

}

footer .ft {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer #ct {
    margin-top: 70px;
}

footer #cont {
    margin-left: -250px;
}


footer .contact {
    margin-top: 15px;


}

footer .contact:hover {
    transform: translateY(-5px);

}

@media (hover:none) {


    #principal div a:hover {
        color: initial;
    }

    header a:hover {
        color: initial;
    }

    ul li img:hover {
        transform: initial;
    }

    .arrow:hover {
        transform: initial;
    }


    #left-arrow:hover {
        transform: initial;
    }

    footer .contact:hover {
        transform: initial;

    }

}

@media (max-width: 600px) {

    /* Menu Nav */

    .menu a{
        display: none; 
    }
    
    .menu-icon {
        display: block; 
    }

    .menu-overlay {
        display: block;
    }
    
    nav #logoNav{
        width: 80%;
        height: 20%;
    }
    

    /* Menu Principal */

    #bcgdPaginaPrincipal {
        padding: 0px 10px 0px 10px;
    }

    header #bcgddentro{
        display: flex;
        flex-direction: column;
    }

    header #bcgdcinza {
        margin-top: -150%;
        margin-right: 10px;
        margin-left: 0px;
        padding-right: 10px;
        margin-bottom: 50px;
        padding-bottom: 30px;
        width: 93%;
        position: absolute;
    }

    header h1 {
        margin: 30px 20px 0;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        

    }

    #titulopaginaprincipal {
        display: none; 
    }

    #img {
        
        width: 100%;
        margin-top: 0%;
        margin-bottom: 20%;
    }


    figure #logo2 {
        display: none;
    }

    header #agendar {
        margin-left: 10%;
        background-color: rgba(204, 203, 203, 0);

    }

    header a {
        color: var(--cinza);
        padding-right: 10px;
        font-size: 18px;
        margin: 0px;
        font-weight: bold;
        text-transform: uppercase;
        
    }

    #agendar {
        margin-top: 125%;
        position: absolute;
        background-color: var(--cinza);
      
        padding: 5%;

    }

    #agendamento h4 {
        margin: 0;
        padding: 0;
    }

    header a #arrow {
        margin-left: 13px;
        font-size: 50px;
        text-align: center;
        padding-bottom: 8px;
    }

    .dots {
        display: none;
    }

    .prev,
    .next {
        top: 50%;
        padding: 1%;

        font-size: 200%;
        transition: 0.6s ease;
        user-select: none;
    }

    /* Sobre */

    #sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #bcgdpreto {
        margin: 0px;

    }

    section #bcgdpreto img {

        width: 50%;

        margin: 10px 50px 10px 95px;
    }

    #sobre h1 {
        font-size: 10px;
        margin-left: 60px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .content {
        font-size: 7px;
        width: 90%;
        text-align: justify;
        margin-left: 50px;

    }

    #tittletext {
        margin-right: 80px;
        padding-bottom: 40px;
    }

    /* Equipe */


    #equipe-tittle {
        font-size: 10px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 70px;
    }

    section ul {
        display: block;

    }

    section ul li img {
        width: 85px;
        margin: 0px;
    }

    ul li h3 {
        font-size: 7px;
        text-align: center;
        margin-top: 5px;
        padding: 0;

    }

    section .text {
        width: 70%;
        font-size: 7px;
        padding: 20px;
        margin: 20px auto 40px auto;

    }

    section .text img {
        width: 15%;
        margin-right: 30px;
    }

    /* Serviços */

    #serv {
        margin-top: 0;
        padding-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;

    }

    section #serv-titulo {
        font-size: 30px;
        margin-top: 10px;
        padding-top: 30px;
    }

    .service-list {
        grid-template-columns: 1fr;
        gap: 20px; /* Reduzir o espaçamento entre os serviços */
    }

    .service-item {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    #services {
        overflow: hidden;
    }

    .services-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .arrow {
        margin-top: 20px;
    }
}


    .arrow {

        font-size: 30px;
        margin-top: 22%;
    }

    #left-arrow {
        left: 20px;
    }

    #right-arrow {
        right: 20px;
    }

    .service-item button {
        padding: 10px;
        font-size: 12px;
        width: 100%;

    }

    /* Feedback */

    #feedback-itens {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fb {

        padding: 10px;
        margin: 5px;
        width: 145px;
        height: 100px;
    }

    .fb p {
        font-size: 6px;
    }

    .fb h3 {
        font-size: 10px;
    }

    .fb .estrela {
        width: 100px;
    }

    .fb #star1 {
        margin-top: 10px;
    }


    .fb .star {
        margin-top: 20px;
    }

    #feedback h1 {
        margin-right: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 10px;
    }

    /* Footer */

    footer {
        margin: 10px 20px 30px 20px;
    }

    footer p {
        font-size: 7px;
    }

    footer h1 {
        font-size: 10px;
        padding-top: 10px;
        padding-left: 10px;
    }

    footer h3 {
        font-size: 8px;

    }

    footer #address {
        width: 90%;
        margin-left: -20px;
    }

    footer #logofooter {
        width: 10%;
        margin-top: 20px;
    }


    footer #address img {
        width: 50%;

    }

    footer #ct {
        margin-top: 20px;
    }


    footer .contact {
        margin-top: 10px;
    }

    footer .contact img {
        width: 70px;
    }

    footer #cont {
        padding-left: 60px;
    }

    footer .contact:hover {
        transform: translateY(-5px);

    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    /* Menu Principal */
    .menu a {
        padding-left: 20px;
    }

    /* Pagina Principal */

    #img {
        width: 100%;
        margin-top: 7%;

    }

    header h1 {

        font-size: 27px;

    }


    #bcgddentro {
        width: 120%;
        margin-right: 1%;
        margin-left: -10%;
    }

    header #bcgdcinza {

        margin-top: 15%;
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 10px;
        margin-bottom: 10%;
        width: 30%;
    }

    #agendar {
        margin-top: 20px;
        padding: 0px;
    }

    .dots {
        display: none;
    }

    /* Sobre */

    #sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #bcgdpreto {
        margin: 0px;
        width: 100%;
        margin: 0;
        margin-top: 10%;
    }

    section #bcgdpreto img {
        margin-left: 150px;
        width: 60%;
        margin-bottom: 30px;

    }

    #sobre h1 {

        margin-left: 60px;
        text-align: center;
    }

    .content {

        width: 90%;
        text-align: justify;
        margin-left: 140px;

    }

    #tittletext {
        margin-right: 80px;
        padding-bottom: 40px;
    }

    /* Equipe */


    #equipe-tittle {

        margin-left: 20px;
        margin-bottom: 20px;
    }

    section ul li img {
        width: 100%;
        margin: 0px;
    }

    ul li h3 {

        text-align: center;
        margin-top: 5px;
        padding: 0;

    }

    section .text {
        width: 80%;
        font-size: 15px;
        padding: 20px;
        margin: 20px auto 0 auto;

    }

    section .text img {
        width: 30%;
        margin-right: 30px;
    }

    /* Serviços */

    #serv {
        margin-top: 0;
        padding-bottom: 30px;
        margin-left: 2%;
        margin-right: 2%;

    }

    .service-list {
        gap: 29px;
    }

    .arrow {

        margin-top: 130px;

    }

    #left-arrow {
        left: 0px;
    }

    #right-arrow {
        right: 0px;
    }

    .service-item button {
        padding: 4px;
        font-size: 5px;
        width: 65%;

    }

    /* Feedback */

    #feedback-itens {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .fb {

        padding: 10px;
        margin: 5px;
        width: 200px;
        height: 130px;
    }

    .fb p {
        font-size: 9px;
    }

    .fb h3 {
        font-size: 15px;
    }

    .fb .estrela {
        width: 150px;
    }

    .fb #star1 {
        margin-top: 10px;
    }


    .fb .star {
        margin-top: 20px;
    }

    #feedback h1 {
        margin-right: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Footer */

    footer {
        margin: 10px 20px 30px 20px;
    }

    footer #address {
        margin-left: 50px;
    }



    footer #ct {
        margin-top: 40px;
    }


    footer .contact:hover {
        transform: none;

    }

    footer #logofooter {
        width: 15%;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {

    /* Menu Principal */
    #principal div a {
        font-size: 15px;
    }

    .menu a {
        padding-left: 50px;
    }

    /* Pagina Principal */

    #img {
        width: 90%;
        margin-top: 7%;

    }

    header h1 {

        font-size: 27px;

    }


    #bcgddentro {
        width: 100%;

    }

    header #bcgdcinza {

        margin-top: 13%;
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 10px;
        margin-bottom: 15%;
        width: 50%;
    }

    #agendar {
        margin-top: 20px;
        padding: 0px;
    }

    .dots {
        bottom: 24%;
    }

    /* Serviços */


    #left-arrow {
        left: 10px;
    }

    #right-arrow {
        right: 10px;
    }

    /* Equipe */

    section ul li img {
        width: 100%;
        margin: 0px;
    }

    section ul {
        display: flex;
    }

    section .text {
        width: 70%;
        padding: 20px;
        margin: 20px auto 0 auto;

    }

    section .text img {
        width: 15%;
        margin-right: 30px;
        margin-left: 10px;
    }

    /* Sobre */

    #sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #bcgdpreto {
        margin: 0px;
        width: 100%;
        margin: 0;
        margin-top: 10%;
    }

    section #bcgdpreto img {
        margin-left: 20%;
        width: 60%;
        margin-bottom: 30px;

    }

    #sobre h1 {

        margin-left: 10%;
        text-align: center;
    }

    .content {

        width: 100%;
        text-align: justify;
        margin-left: 26%;
        font-size: 14px;

    }

    #tittletext {
        margin-right: 80px;
        padding-bottom: 40px;
    }

    /* Feedback */

    #feedback-itens {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    /* Footer */

    footer {
        margin: 10px 20px 30px 20px;
    }
}

@media (min-width: 1440px) {
    /* Menu Principal */

    #logoNav {
        height: 70%;
        width: 70%;
        margin-top: 5%;
        margin-right: -300px;

    }

    #principal div a {
        font-size: 20px;


    }

    .menu a {
        padding-left: 70px;

    }

    /* Pagina Principal */

    #img {
        width: 90%;
        margin-top: 7%;

    }

    #bcgddentro {
        width: 100%;

    }

    header #bcgdcinza {

        margin-top: 14%;
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 10px;
        margin-bottom: 15%;
        width: 50%;
    }

    #agendar {
        margin-top: 20px;
        padding: 0px;
    }

    .dots {
        bottom: 23%
    }

    header h1 {
        margin: 20px 50px;
        font-size: 40px;
    }

    figure #logo2 {
        width: 20%;
        margin-top: 10%;
        margin-left: 65%;
    }

    #agendar {
        margin-top: 40px;
        padding: 10px;
        margin-left: 50px;

    }

    header a {
        padding-right: 100px;
        font-size: 25px;

    }


    header a #arrow {
        margin-left: 15px;
        font-size: 60px;

    }

    /* Serviços */


    section #serv-titulo {
        font-size: 40px;
        margin-bottom: 60px;
    }


    .service-item {

        width: 90%;
        font-size: 18px;

    }

    #serv {
        margin-left: 80px;
        margin-right: 80px;
        max-width: 1440px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .service-list {
        gap: 50px;
    }

    .service-item {
        width: 300px;
    }

    #left-arrow {
        left: 30px;
    }

    #right-arrow {
        right: 30px;

    }

    .arrow {
        font-size: 40px;

    }

    .service-item button {
        padding: 15px;
        font-size: 18px;
    }

    /* Equipe */

    #equipe-tittle {
        margin-bottom: 100px;
        font-size: 40px;
    }

    section ul li {
        margin: 0 50px;
    }

    section ul li img {
        width: 120%;

    }

    ul li h3 {
        font-size: 30px;
        margin-left: 15%;
        margin-bottom: 40px;
    }


    section .text {
        width: 70%;
        font-size: 30px;
        padding: 50px;
        margin: 5% 12%;
    }

    /* Sobre */


    #bcgdpreto {
        padding-top: 5%;
        padding-bottom: 5%;
        margin-right: 105px;
        margin-bottom: 70px;
    }

    section #bcgdpreto img {
        width: 100%;
        margin-left: 10%;
        margin-top: 5%;
    }

    .content {
        font-size: 20px;
        text-align: justify;
        max-width: 700px;
    }

    #tittletext h1 {
        margin-right: 150px;
        padding-bottom: 20px;
        font-size: 40px;
    }

    /* Feedback */

    #feedback {
        margin-bottom: 50px;
    }

    #feedback-itens {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .fb {

        height: 30%;
        width: 30%;
        text-align: center;

    }



    .fb p {
        font-size: 20px;
        text-align: justify;
    }

    .fb h3 {
        text-align: left;
        font-size: 25px;
    }



    .fb .estrela {
        width: 100%;
    }

    #feedback h1 {
        font-size: 40px;
    }

    /* Footer */

    footer {

        margin: 100px 120px 70px 120px;

    }

    footer p {
        font-size: 20px;
    }

    footer h1 {
        padding-top: 20px;
        padding-left: 80px;
        font-size: 40px;

    }

    footer h3 {
        text-transform: uppercase;
        font-size: 25px;
    }

    footer #logofooter {
        width: 10%;
        margin-top: 80px;
    }

    footer #address {
        margin-left: 20px;
    }

    footer #address img {
        width: 65%;

    }

    footer .contact img {
        width: 50%;

    }

}

@media (min-width: 1920px) and (max-width: 2559px) {
    /* Menu Principal */

    #logoNav {
        height: 80%;
        width: 80%;


    }

    #principal div a {
        font-size: 22px;


    }

    .menu a {
        padding-left: 160px;

    }

    /* Pagina Principal */



    header #bcgdcinza {

        margin-top: 16%;
        margin-bottom: 15%;

    }


    .dots {
        bottom: 17%;
    }

    .dot {
        width: 15px;
        height: 15px;
    }

    header h1 {
        margin: 20px 50px;
        font-size: 50px;
    }

    figure #logo2 {
        width: 17%;

    }


    header a {

        font-size: 30px;

    }


    header a #arrow {
        margin-left: 20px;
        font-size: 70px;

    }

    /* Serviços */

    #serv {

        max-width: 1920px;

    }

    #left-arrow {
        left: 150px;
    }

    #right-arrow {
        right: 150px;
    }

    /* Equipe */

    #equipe-tittle {
        margin-bottom: 100px;
        font-size: 40px;
    }

    section ul li {
        margin: 0 110px;
        margin-bottom: 100px;
    }

    section ul li img {
        width: 150%;

    }


    section .text {
        width: 70%;
        font-size: 30px;
        padding: 50px;
        margin: 0 12% 5% 12%;
    }

    /* Sobre */


    #bcgdpreto {
        padding-top: 4%;
        padding-bottom: 5%;
        margin-right: 105px;
        margin-bottom: 70px;
    }

    section #bcgdpreto img {
        width: 100%;
        margin-left: 10%;
        margin-top: 5%;
    }

    .content {
        font-size: 25px;
        text-align: justify;
        max-width: 700px;
        margin-left: 40px;
    }

    #tittletext h1 {
        margin-left: 40px;
        margin-top: 150px;
        padding-bottom: 20px;
        font-size: 40px;
    }


    /* Footer */

    footer p {
        font-size: 25px;
    }

    footer h1 {

        font-size: 40px;

    }

    footer h3 {
        font-size: 30px;
    }

    footer #address {
        margin-left: -120px;
    }

    footer #address img {
        width: 100%;

    }



}

@media (min-width: 2560px) {
    /* Menu Principal */

    #logoNav {
        height: 120%;
        width: 120%;


    }

    #principal div a {
        font-size: 30px;


    }

    .menu a {
        padding-left: 230px;

    }

    /* Pagina Principal */



    header #bcgdcinza {

        margin-top: 16%;
        margin-bottom: 15%;
        padding-bottom: 5%;
        margin-right: 5%;

    }

    .prev,
    .next {
        font-size: 275%;
    }


    .dots {
        bottom: 23%;
    }

    .dot {
        width: 20px;
        height: 20px;
    }

    header h1 {
        margin: 20px 50px;
        font-size: 70px;
    }

    figure #logo2 {
        width: 17%;

    }


    header a {

        font-size: 40px;

    }


    header a #arrow {
        margin-left: 20px;
        font-size: 90px;

    }

    /* Serviços */

    section #serv-titulo {
       font-size: 60px;
    }
    
    #serv {
        margin-left: 80px;
        margin-right: 80px;
        max-width: 2560px;
        padding-left: 200px;  /* Ajuste o padding para centralizar o conteúdo */
        padding-right: 200px;
    }

    .service-list {
     
        gap: 60px;
    } 

    .service-item {
        width: 530px; /* Aumenta a largura dos itens */
        padding: 15%;
        font-size: 25px;
    }

   
    #left-arrow {
        left: 200px; /* Reposiciona a seta para a esquerda */
    }

    #right-arrow {
        right: 200px; /* Reposiciona a seta para a direita */
    }

    .arrow {
        
        
        font-size: 50px;
        margin-top: 190px;
        
    }

    .service-item button {
    
        padding: 12px;
       
        font-size: 25px;
        
      
    }


    /* Equipe */

    #equipe-tittle {
        margin-top: 200px;
        font-size: 60px;
    }

    section ul li {
        margin: 0 180px;
        margin-bottom: 100px;
    }

    section ul li img {
        width: 200%;
    }

    ul li h3 {
    
        margin-left: 60%;
        font-size: 40px;
    }
    
    section .text {
        width: 80%;
        font-size: 40px;
        padding: 50px;
        margin: 0 10% 5% 9%;
    }

    /* Sobre */



    section #bcgdpreto img {
        width: 110%;
        margin-left: 10%;
        margin-top: 10%;
    }

    .content {
        font-size: 35px;
        max-width: 800px;
        margin-left: 200px;
    }

    #tittletext h1 {
        margin-left: 200px;
        margin-top: 150px;
        font-size: 60px;
    }

       /* Feedback */
  
    .fb p {
        font-size: 30px;
        
    }

    .fb h3 {
        text-align: left;
        font-size: 35px;
    }

    .fb .estrela {
        width: 100%;
    }

    #feedback h1 {
        font-size: 60px;
    }

    /* Footer */

    footer p {
        font-size: 35px;
    }

    footer h1 {

        font-size: 60px;

    }

    footer h3 {
        font-size: 40px;
    }

    footer #address {
        margin-left: -210px;
        margin-right: 200px;
        margin-bottom: 100px;
    }

    footer #address img {
        width: 130%;

    }

    footer .contact img {
        width: 0%;
        margin-top: 40px;

    }

}